@use "./_variables.sass"
@use "../../node_modules/bootstrap/scss/bootstrap.scss"
@use "../../node_modules/bootstrap-icons/font/bootstrap-icons.css"
@use "./modules/_style"
@use "./modules/_header"
@use "./modules/_section1"
@use "./modules/_sectionMENU"
@use "./modules/_sectionGallery"
@use "./modules/_sectionChefs"


::placeholder
    color:#c6c6c6 !important
    opacity: 1 !important
    font-size: 20px
    // font-weight: bold!important

input, textarea

    &::placeholder
        color:#c6c6c6 !important
        opacity: 1 !important
        
        font-weight: 300
        font-size: 1rem
        // font-weight: bold!important

input
    height: 50px
        
