@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css"
@import "./modules/_style"
@import "./modules/_header"
@import "./modules/_section1"
@import "./modules/_sectionMENU"
@import "./modules/_sectionGallery"
@import "./modules/_sectionChefs"
@import "./modules/_responsive"
html, body 
    margin: 0 !important
    padding: 0  !important
    overflow-x: hidden !important



::placeholder
    color:#c6c6c6 !important
    opacity: 1 !important
    font-size: 20px
    // font-weight: bold!important

input, textarea

    &::placeholder
        color:#c6c6c6 !important
        opacity: 1 !important
        
        font-weight: 300
        font-size: 1rem
        // font-weight: bold!important

input
    height: 50px
        
