body
  overflow-x: hidden !important
  .header

.modal-content
      width: 1500px 
      transform: translateX(-22%)
.video-play-button
  
  z-index: 10
  top: 100%
  left: 61%
  transform: translateX(50vw) translateY(-50px)
  box-sizing: content-box
  display: block
  width: 15px
  height: 12px
  background: #cda45d
  border-radius: 50%
  padding: 9px 24px 18px 28px

  




  &:hover span
    transition: 0.5s
    transform: scale(7)
    overflow: hidden

  &::before
    content: ""
    position: absolute
    z-index: 0
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    display: block
    width: 75px
    height: 75px
    background: #cda45d
    border-radius: 50%
    animation: pulse-border 1500ms ease-out infinite

  &::after
    content: ""
    position: absolute
    z-index: 1
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    display: block
    width: 70px
    height: 70px
    background: #cda45d
    border-radius: 50%
    transition: all 200ms
    border: solid 4px #fff

  span
    display: block
    position: relative
    z-index: 3
    width: 0
    height: 0
    border-left: 18px solid #fff
    border-top: 10px solid transparent
    border-bottom: 12px solid transparent

@keyframes pulse-border
  0%
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1)
    opacity: 1
  100%
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5)
    opacity: 0



.amana:hover
  color: orange!important



.fleche
    margin-left: 95%
    margin-bottom: 1%
    
    

.icon-fleche
    font-size: 200%

@media (max-width: 1200px)  
      .video-play-button
            transform: translateX(30vw) translateY(-50px)

@media (max-width: 770px) 
  .contenu
    justify-content: center !important
    margin-left: 14%
  .video-play-button 
    transform: translateX(0) translateY(0) 
    margin-top: 20px 
    align-self: center 
  

  .d-flex.flex-column.flex-md-row 
    flex-direction: column
    align-items: center 

.bbb 
  width: 10px !important
  height: 10px !important
  border-radius: 50% !important
