// Menu Section Styles
.nav-pills
    .nav-link
        &.active
            background-color: rgba(255, 193, 7, 0.2) !important
            color: #ffc107 !important

        &:hover
            background-color: rgba(255, 193, 7, 0.1) !important
            color: #ffc107 !important
