.about-image
    // Tailles prédéfinies
    &.small
        width: 50%
        max-height: 300px
    
    &.medium
        width: 75%
        max-height: 450px
    
    &.large
        width: 100%
        max-height: 600px
    
    // Options de base
    width: 100%  // Largeur en pourcentage
    max-height: 500px  // Hauteur maximale fixe
    object-fit: cover
    border-radius: 15px
    box-shadow: 0 10px 20px rgba(0,0,0,0.2)
    margin-right: 2rem  // Ajouter un peu d'espace
    transition: transform 0.3s ease
    &:hover
        transform: scale(1.05)  // Effet de zoom léger au survol

.menu-item
    transition: all 0.3s ease
    border-radius: 10px
    &:hover
        transform: scale(1.05)
        background-color: #ffc107
        color: #f8f9fa
        
        h6
            color: #f8f9fa
        
        .text-white-50
            color: rgba(248, 249, 250, 0.7)
        
        .border-warning
            border-color: #f8f9fa !important
        
        .text-warning
            color: #f8f9fa !important
